.containerniveles{
    display: flex;
  }
.nivel {
  flex: 33% ; 
  text-align: center;
    }
.color1{
      background-color: #0024f0;
      }
.color2{
       background-color: #e7e7f0d8;
      }
    @media screen and (max-width: 800px) {
      .containerniveles{
        flex-direction: column;
      }
      .nivel {
          flex: 100%;
        }
    }
.TituloCard{
        display: block;
        text-align: center;
    }